.facility-container {
  text-align: center;
}

.facility-slides {
  max-width: 80%;
  margin: 50px auto;
}

@media only screen and (max-width: 992px) {
  .facility-slides {
    max-width: 100%;
  }
}
