.teachers-container {
  margin: 30px 0px;
}

.teachers-container > .page-header {
  margin-bottom: 40px;
}

.teachers {
  padding: 0px 100px;
}

.teacher-info {
  min-height: 500px;
  text-align: center;
  margin-bottom: 25px;
}

.teacher-img {
  width: 100%;
  max-height: 40%;
}

.teacher-name {
  margin: 10px 0px;
}

.staff-bg {
  /* The image used for parallax */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../img/Staff/staff.jpg");

  /* Set a specific height */
  min-height: 500px;
  margin: 0 -5%;
}

@media only screen and (max-width: 640px) {
  .staff-parallax-caption {
    bottom: 25%;
    margin-left: 5%;
    width: 90%;
  }

  .staff-parallax-caption > h1 {
    text-align: left;
  }

  .teachers {
    padding: 0 20px;
  }

  .teacher-info {
    min-height: 0;
  }
}

@media only screen and (max-width: 475px) {
  .staff-parallax-caption {
    bottom: 20%;
  }
}
